<html>
    <head>
        <title>{{ title }}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}">
        
    </head>
    <body>
        <div style="text-align:center; background-color:powderblue;">
        <p style="color:black" ><b>KnowWay!</b></p>
        </div>
        <div class="container">
            <div class="signbox">
                {% for user in ranking %}
                <hr>    
                    {{loop.index}}. 
                    <a href="user/{{user[0]}}">
                        {{user[0]}}
                    </a> : {{user[1]}} pts.
                    <br>
                {% endfor %}
                <br>
                <a href="/main">Go back</a>
                <br>
            </div>
        </div>
    </body>
</html>